beautifulsoup4
datasets
fastapi
gunicorn
langchain
langchain-anthropic
langchain-openai
langchain-core
langchain-community
nltk
pydantic
requests
qdrant-client[fastembed]
sentence-transformers
streamlit
unstructured[all-docs]
uvicorn